/* ========================================== MOB */

@media screen and (max-width: 427px) {
  .mob-contacts-phone {
    font-size: 24px;
  }
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }

  .hero {
    width: 428px;
  }

  .footer {
    display: flex;
    margin: 0 auto;
    width: 428px;
  }
}

@media screen and (max-width: 767px) {
  .footer-text {
    padding: 0 65px;
  }

  .footer-title {
    text-align: center;
  }

  .footer-left,
  .footer-right {
    margin: 0 0 72px 0;
  }

  .subscribe-input {
    margin-bottom: 16px;
  }
}

/* ========================================= TABLET */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .main-nav {
    display: flex;
    gap: 40px;
  }

  .contacts {
    display: inline-block;
    font-style: normal;
    margin-left: auto;
  }

  .menu-open-btn {
    display: none;
  }

  .hero {
    width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bimg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bimg-tab-2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }

  .features-container,
  .team-container {
    max-width: 768px;
  }

  .features-list,
  .team-list {
    gap: 24px;
  }

  .team-list {
    row-gap: 64px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list-heading {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: 168px;
  }

  .footer {
    width: 768px;
    padding: 96px 0;
  }

  .footer-container {
    display: flex;
  }

  .footer-left {
    margin: 0 24px 0 0;
  }

  .footer-logo {
    display: inline-block;
  }

  .footer-text {
    width: 264px;
  }

  .subscribe-field {
    display: flex;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    padding: 16px 0;
  }

  .features-list {
    row-gap: 72px;
  }

  .footer-container {
    flex-wrap: wrap;
    row-gap: 72px;
    padding: 0 108px 0;
  }
}

@media screen and (max-width: 1439px) {
  .features-list-heading {
    text-align: center;
  }

  .customers-list {
    flex-wrap: wrap;
    row-gap: 72px;
  }
}

/* ========================================= DESKTOP */

@media screen and (min-width: 1440px) {
  .container {
    width: 1158px;
  }

  .contacts-nav {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    padding: 188px 0;
    width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bimg-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bimg-desk-2x.jpg);
    }
  }

  .features-container,
  .team-container {
    max-width: 1440px;
    padding: 120px 0;
  }

  .features-list-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon {
    height: 112px;
    background-color: var(--minor-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .functions-container {
    display: block;
    padding-bottom: 120px;
  }

  .functions-title {
    margin-bottom: 72px;
  }

  .functions-list {
    display: flex;
    gap: 24px;
  }

  .functions-image {
    width: calc((100% - 48px) / 3);
  }

  .customers {
    padding: 120px 0;
  }

  .footer {
    width: 1440px;
  }

  .footer-left {
    margin-right: 120px;
  }

  .footer-right {
    margin-right: 80px;
  }
}
