@media screen and (min-width: 428px) {
    .container {
        width: 428px;
        
    }

    .hero {
        width: 428px;
    }

    .footer {
        display: flex;
        margin: 0 auto;
        width: 428px;
    }
}