:root {
  --primary-brand-color: #4d5ae5;
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --main-color: #434455;
  --secondary-color: #2e2f42;
  --active-contact-color: #404bbf;
  --minor-color: #f4f4fd;
  --nondescript-color: #ffffff;
  --border-color: #e7e9fc;
  --customers-color: #8e8f99;
  --footer-active-color: #31d0aa;
  --modal-bg: #fcfcfc;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--nondescript-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

/* ======================= HEADER ======================== */

.header {
  background: var(--nondescript-color);
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
}

.logo-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-logo-tail {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.main-nav {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio,
.nav-link-portfolio {
  position: relative;
  color: var(--active-contact-color);
}

.nav-link-studio::after,
.nav-link-portfolio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-contact-color);
  margin-top: 21px;
  bottom: -1px;
}

.contacts-nav {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--active-contact-color);
}

/* =================== HERO ================= */

.hero {
  background-color: var(--secondary-color);
  padding: 188px 0;
  /* background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.hero-title {
  width: 320px;
  font-family: var(--main-font);
  margin: 0 auto 48px;
  color: var(--nondescript-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--nondescript-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-contact-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ==================== FEATURES ======================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-container,
.team-container {
  padding: 120px 0;
}

.features-list,
.functions-list,
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.features-icon {
  height: 112px;
  background-color: var(--minor-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.features-list-heading {
  display: inline-flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.features-list-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

/* ===================== FUNCTIONS =========================== */

.functions-container {
  padding-bottom: 120px;
}

.functions-title {
  margin-bottom: 72px;
}

.functions-image {
  width: calc((100% - 48px) / 3);
}

/* ===================== TEAM & PROJECTS ===================== */

.team-title {
  margin-bottom: 72px;
}

.projects-box {
  padding: 96px 0 120px 0;
}

.project-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.team-container {
  background: var(--minor-color);
}

.team-member-card,
.project-card {
  background: var(--nondescript-color);
}

.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-card {
  text-align: center;
  letter-spacing: 0.02em;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card-title,
.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.card-title,
.team-card-title {
  margin-bottom: 8px;
}

.team-card-title,
.team-card-description {
  text-align: center;
}

.card-description,
.team-card-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.team-card-description {
  margin-bottom: 8px;
}

.team-text {
  padding: 32px 16px;
}

.team-soc-list,
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item,
.footer-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link,
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.img-box {
  position: relative;
  overflow: hidden;
}

.overflow-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
  background-color: var(--primary-brand-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overflow-text,
.project-link:focus .overflow-text {
  transform: translateY(0%);
}

.team-soc-icon {
  fill: var(--minor-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--active-contact-color);
}

/* ========================= CUSTOMERS ===================== */

.customers {
  padding: 120px 0;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--customers-color);
  color: var(--customers-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-contact-color);
  color: var(--active-contact-color);
}

/* ========================= FILTER ======================== */

.filter-btn {
  background-color: var(--minor-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--active-contact-color);
  color: var(--nondescript-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

/* ========================= FOOTER ======================== */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--secondary-color);
  padding: 100px 0;
}

.footer-left {
  margin-right: 120px;
}

.footer-right {
  margin-right: 80px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}

.footer-logo-tail {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--minor-color);
}

.footer-title {
  margin-bottom: 16px;
  color: var(--nondescript-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-icons {
  fill: var(--minor-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--footer-active-color);
}

.subscribe-field {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  display: flex;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: 1px solid var(--nondescript-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--nondescript-color);
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--nondescript-color);
}

.subscribe-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  font-family: var(--main-font);
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--nondescript-color);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: var(--active-contact-color);
}

.send-icon {
  fill: var(--nondescript-color);
  margin-left: 16px;
}

/* ======================== MODAL ======================== */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  border: none;
  fill: var(--nondescript-color);
  background-color: var(--active-contact-color);
}

.button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand-color);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
  margin-bottom: 4px;
}

.input-label span {
  display: block;
}

.modal-field {
  margin-bottom: 8px;
}

.wrap-input {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.textarea-wrap {
  margin-bottom: 16px;
}

.privacy-field {
  margin-bottom: 24px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder,
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
  border-color: var(--primary-brand-color);
}

.check-text {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
}

.check-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  background-color: var(--active-contact-color);
  border: none;
  fill: var(--minor-color);
}

.modal-button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--nondescript-color);
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: var(--primary-brand-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  margin-left: 2px;
  color: var(--primary-brand-color);
}
